{% extends "partials/base.html" %}
{% block content %}
{% load static %}
    <!-- Banner Section start -->
    <section class="banner-section index">
        <div class="overlay">
            <div class="banner-content">
                <div class="container wow fadeInUp">
                    <div class="content-shape">
                    </div>
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="main-content">
                                <div class="top-area section-text">
                                    <!-- <h5 class="sub-title">Trusted by over 3M customers</h5> -->
                                    <h1 class="title" font="">Pay Anyone, Anywhere</h1>
                                    <p class="xlr">Quickly and easily send, receive and request money online with Paylio. Get a customised solution to fit your business needs.</p>
                                </div>
                                <div class="bottom-area d-xxl-flex">
                                    <a href="{% url 'userauths:sign-up' %}" class="cmn-btn">Open a Free Account</a>
                                    <a class="cmn-btn active mfp-iframe popupvideo" href="https://www.youtube.com/watch?v=Djz8Nc0Qxwk">See How it Works</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-5 col-md-6">
                            <div class="send-money">
                                <form action="#">
                                    <div class="currency-area">
                                        <div class="left-side">
                                            <span class="mdr">You send</span>
                                            <input type="text" class="xlr" placeholder="Enter Amount" value="1000">
                                        </div>
                                        <div class="right-side">
                                            <select>
                                                <option value="1">USD</option>
                                                <option value="2">GBP</option>
                                                <option value="3">AUS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="calculation">
                                        <div class="head-area">
                                            <img src="{% static 'assets/images/icon/conversion.png' %}" alt="image">
                                            <span class="mdr highlight">Show calculation</span>
                                        </div>
                                        <div class="calculation-details">
                                            <div class="single-area d-flex align-items-center">
                                                <div class="left-area">
                                                    <i class="fas fa-minus"></i>
                                                    <span class="mdr">10.04 USD</span>
                                                </div>
                                                <div class="right-area">
                                                    <span class="mdr">Our fee</span>
                                                </div>
                                            </div>
                                            <div class="single-area d-flex align-items-center">
                                                <div class="left-area">
                                                    <i class="fas fa-equals"></i>
                                                    <span class="mdr">989.96 USD</span>
                                                </div>
                                                <div class="right-area">
                                                    <span class="mdr">We’ll Convert</span>
                                                </div>
                                            </div>
                                            <div class="single-area d-flex align-items-center">
                                                <div class="left-area">
                                                    <i class="fas fa-times"></i>
                                                    <span class="mdr">1.3947</span>
                                                </div>
                                                <div class="right-area">
                                                    <span class="mdr highlight">Paylio Rate</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="currency-area">
                                        <div class="left-side">
                                            <span class="mdr">Recipient gets</span>
                                            <h5>1,380.69</h5>
                                        </div>
                                        <div class="right-side recipient">
                                            <select>
                                                <option value="1">AUS</option>
                                                <option value="2">USD</option>
                                                <option value="3">GBP</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="btn-area mt-40">
                                        <a href="javascript:void(0)" class="cmn-btn w-100">Get Started</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="counter-section">
            <div class="container wow fadeInUp">
                <div class="row cus-mar">
                    <div class="col-xl-3 col-md-3 col-sm-6">
                        <div class="single-area d-flex align-items-center justify-content-center">
                            <div class="text-area text-center">
                                <h2><span class="counter">50</span><span>+</span></h2>
                                <p>Supported Currencies</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-6">
                        <div class="single-area d-flex align-items-center justify-content-center">
                            <div class="text-area text-center">
                                <h2><span class="counter">100</span><span>+</span></h2>
                                <p>Available Countries</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-6">
                        <div class="single-area d-flex align-items-center justify-content-center">
                            <div class="text-area text-center">
                                <h2><span class="counter">70</span><span>+</span></h2>
                                <p>Payment Methods</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-6">
                        <div class="single-area d-flex align-items-center justify-content-center">
                            <div class="text-area text-center">
                                <h2><span class="counter">7</span><span>/</span><span class="counter">24</span><span>+</span></h2>
                                <p>Support Team</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section end -->


{% endblock content %} 